<link rel="stylesheet" type="text/css" href="<%= assetPath('css/chat_box.css')%>">
<% if(locals.user) {%>
    <div id="user-chat-box">
        <ul id="chat-messages-list">

        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type Message Here..">
            <button id="send-message">Send</button>
        </div>
    </div>
    <%}%>